/* colors */

:root {
	background-color: var(--bg);
	color: var(--fg);
}
@media (prefers-color-scheme: light) {
	:root {
		--bg: white;
		--fg: black;
		
		--ok: #00e000;
		--warn: #f0d000;
		--down: #e00000;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: black;
		--fg: white;
		
		--ok: #40ff40;
		--warn: #ffe040;
		--down: #ff4040;
	}
}

/* style */

body {
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
@media (prefers-color-scheme: light) {
	body {
		/* text-shadow: 4px 4px 4px #00000020; */
	}
}

.status-table {
	/* background-color: #404040; */
	font-size: larger;
}
.status-table td {
	padding: 4pt 16pt;
}
.status-table .service {
	font-weight: bold;
	border-right: 2px solid var(--fg);
	text-align: right;
}
.status-table .status {
	text-align: left;
}

hr {
	width: 100%;
	max-width: 600px;
	margin: 32px;
}

/* status info */

.checking {
	opacity: 0.7;
}
.ok::before {
	color: var(--ok);
	content: "◆";
	margin-right: 8pt;
}
.warn::before {
	color: var(--warn);
	content: "▲";
	font-size: larger;
	/* content: "⚠"; */
	margin-right: 8pt;
	padding-top: -4pt;
}
.down::before {
	color: var(--down);
	content: "◆";
	margin-right: 8pt;
}
